

<section class="section admin-section">
    <div class="container">
        <div class="row">
            <h1 class="main-heading text-center mt-5 mb-5">Admin</h1>
        </div>
        <div class="accordion-item mb-5">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                Add New Item
            </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    
                    <form class="row g-0" id='MenuAddForm' method="post" action="./addMenu" encType="multipart/form-data">

          <div class="col-sm-6">  
            <div class="form-floating mb-5">
              <select class="form-select" id="itemCategory" name="itemCategory">
                    {{#each data}}
                <option value="{{category}}">{{category}}</option>
                    {{/each}}
              </select>
              <label for="itemCategory">Category</label>
            </div>
          </div> 
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Type Food Title" id="itemTitle" name="itemTitle" >
                            <label for="itemTitle">Food Title</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Type Food Description" id="itemDescription" name="itemDescription" >
                            <label for="itemDescription">Food Description</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Type Food Price" id="itemPrice" name="itemPrice" >
                            <label for="itemPrice">Food Price</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Type Food Calories" id="itemCalories" name="itemCalories" >
                            <label for="itemCalories">Food Calories</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Type Food Keyword" id="itemKeywords" name="itemKeywords" >
                            <label for="itemKeywords">Food Keyword</label>
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">File input example</label>
                            <input class="form-control" type="file" name="menuFile" id="formFile">
                        </div>

                             <div class="col-12" id="errordiv">
                        
                        </div>
                        {{#if err}}
                            <div class="col-12" id="errorss">
                        <p>{{err}}</p>
                        </div>
                        {{/if}}
                        <div class="col-12">
                            <button type="button" onclick="AddMenuItem()" class="btn btn-primary">Publish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



{{!-- 
<form ref='uploadForm' id='uploadForm' method="post" action="./updateMenu" encType="multipart/form-data">
    <input type="text" id="itemCategory" name="itemCategory" value="{{itemCategory}}">
        <input type="text" id="itemTitle" name="itemTitle" value="{{itemTitle}}">
            <input type="text" id="itemDescription" name="itemDescription" value="{{itemDescription}}">
                <input type="text" id="itemPrice" name="itemPrice" value="{{itemPrice}}">
                    <input type="text" id="itemCalories" name="itemCalories" value="{{itemCalories}}">
                        <input type="text" id="itemKeywords" name="itemKeywords" value="{{itemKeywords}}">
                            <input type="file" name="menuFile">
                            <input type="text" id="itemId" name="itemId" value="{{_id}}">

        <input type="text" id="itemCategoryold" name="itemCategoryold" value="{{itemCategory}}" hidden>
        <input type="text" id="itemTitleold" name="itemTitleold" value="{{itemTitle}}" hidden>
        <input type="text" id="itemDescriptionold" name="itemDescriptionold" value="{{itemDescription}}" hidden>
        <input type="text" id="itemPriceold" name="itemPriceold" value="{{itemPrice}}" hidden>
        <input type="text" id="itemCaloriesold" name="itemCaloriesold" value="{{itemCalories}}" hidden>
        <input type="text" id="itemKeywordsold" name="itemKeywordsold" value="{{itemKeywords}}" hidden>
        
        <input type="submit" value="submit"/>
</form> --}}
<script src="/public/js/AddMenuItem.js"></script>
