{{!-- Start of Menu Section --}}

<section class="section menu-section yellow-section-background">
    <div class="container">
        <div class="menu-card-box">
            <div class="row">
                <h1 class="main-heading text-center mt-5 mb-5">{{pageHeading}}</h1>
                <!-- start block -->
                {{#each searchResult}}
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card-container">
                        <div class="cardbox">
                            
                            <div class="card mycard">
                                <div>
                                    <img src="../../public/images/Menu/{{itemImage}}" class="card-img-top menu-img" alt="...">
                                    <a id="{{_id}}123" onclick="AddToFavourites(event)"><i class="fas fa-heart like-btn" ></i></a>
                                </div>
                                <div class="card-body">
                                    <div class="menu-info">
                                        <p class="card-title">{{itemTitle}}</p>
                                        <div class="menu-quantity d-flex">
                                            <button type="button" class="btn btn-outline-primary quantity-btn" onclick="increment(event)" id="{{_id}}">+</button>
                                            <input class="form-control form-control-sm quantity-txtbox text-center {{_id}}" type="text" value="1" aria-label=".form-control-sm example" disabled>
                                            <button type="button" class="btn btn-outline-primary quantity-btn" onclick="decrement(event)" id="{{_id}}">-</button>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-around">
                                        <p class="card-text mb-2" id="{{_id}}{{_id}}{{_id}}">$ {{itemPrice}}</p>
                                        <p class="card-text mb-2">{{itemCalories}} Cal. </p>
                                    </div>
                                    <a href="{{_id}}" class="btn btn-primary cart-btn add-item-btn" id="{{_id}}" onclick="AddToCart(event)">Add to Cart</a>
                                    <a id="desc-btn" class="btn btn-outline-primary cart-btn" onclick="flip(event)">Description</a>
                                    
                                </div>
                            </div>
                            <div class="card mycard1">
                                <div class="card-img-top menu-img flipped-img text-center" alt="...">
                                    <div class="card-body">
                                        <p class="card-title text-center">Description</p>
                                        <div class="d-flex justify-content-around">
                                            <p class="card-text mb-2">{{itemDescription}}</p>
                                        </div>
                                    </div>
                                    <a id="desc-btn" class="btn btn-outline-primary cart-btn" onclick="flip(event)">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

                <div aria-live="polite" aria-atomic="true" style="position: relative;">
                    <div style="position: absolute; bottom: 0; right: 0;">
                        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                            <strong class="me-auto">Alert</strong>
                            <small>Just Now</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                            Cart is updated successfully !!!
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

{{!-- End of Menu Section --}}